@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
    font-family: "Open Sans";
    background-color: #f5f5f5;
    color: #364f6b;
}

h1, h2 {
    font-family: "Poppins";
}

h2 {
    color: #3fc1c9;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #5176a0;
}

a:hover {
    color: #293c52; 
}

.container {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.card {
    background-color: white;
    margin: 24px auto;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#profile {
    width: 360px;
}

.img-circle {
    border-radius: 50%;
}

.btn-purple {
    background-color: #9896f1;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1));
}

.btn-purple:hover {
    background-color: #6866ee;
    color: white;
}

.list-inline {
    list-style:  none;
    padding: 0;
}

.list-inline li {
    display: inline-block;
}

.icon-large {
    font-size: 32px;
}

.container {
    width: 600px;
}

@media (max-width: 640px) {
    .container {
        width: 440px;
    }
}